body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 32px;
  width: 100%;
  border: double 3px #8dc3f5;
}

header {
  background-color: #8dc3f5;
  border-bottom: 1px;
  text-align: center;
  height: 70px;
}

h1 {
  font-size: 50px;
  color: #808080;
}

main {
  width: 100%;
  display: block;
  /* position: relative; */
  /* border: solid 3px blue; */
}

/* お試しテンプレート */
.input_box {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #ff7d6e;
  background: #ffebe9;
  border-top: solid 10px #ff7d6e;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.list_box1 {
  /* padding: 0.5em 1em;
  /* margin: 2em 0; */
  /* color: #232323;
  background: #fff8e8;  */
  margin: 30px auto;
  padding: 20px;
  background: #fff8e8;
  color: #232323;
  border-left: solid 10px #ffc06e;
  width: 1100px;
  height: 100%;
}

footer {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

p {
  font-size: 200%;
  text-align: center;
  /* border-bottom: 1px solid #fff; */
  height: 200px;
}

#save {
  /* padding: 10px; */
  /* border-top: 1px solid #000000; */
  display: table;
  /* 定義 */
  table-layout: fixed;
  width: 100px;
  font-size: 80%;
  /* margin: auto; */
  text-align: center;
  border: double 3px #8dc3f5;
}

#clear {
  /* padding: 10px; */
  /* border-top: 1px solid #000000; */
  display: table;
  /* 定義 */
  table-layout: fixed;
  width: 100px;
  font-size: 80%;
  /* margin: auto; */
  text-align: center;
  border: double 3px #8dc3f5;
}

#yclear {
  /* padding: 10px; */
  /* border-top: 1px solid #000000; */
  display: table;
  /* 定義 */
  table-layout: fixed;
  width: 150px;
  font-size: 80%;
  /* margin: auto; */
  text-align: center;
  border: double 3px #8dc3f5;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  /* border: 1px solid #8dc3f5; */
  background-color: #fff;
  /* display: table-cell; */
  width: 100%;
  /* 定義 */
  cursor: pointer;
  color: #808080;
}

li:hover {
  background: #8dc3f5;
  color: #fff;
}

#memo {
  margin: 30px 3%;
  width: 95%;
  height: 30px;
  font-size: 80%;
  background-color: #fff;
  border: double 3px #8dc3f5;
}

#key {
  margin: 10px 3%;
  width: 30%;
  font-size: 80%;
  background-color: #fff;
  border: double 3px #8dc3f5;
  height: 30px;
}
